/* Put your CSS here */
html, body {
  margin: 0; padding: 0;
}

.card {
  border: 2px solid black;
  border-radius: 10px;
  position: absolute;
  background: white;
  z-index: 5;
  cursor: pointer;
}

.card.selected {
  border-color: green;
  -webkit-box-shadow: 0px 7px 16px rgba(50, 50, 50, 1);
  -moz-box-shadow:    0px 7px 16px rgba(50, 50, 50, 1);
  box-shadow:         0px 7px 16px rgba(50, 50, 50, 1);
}

.card, .shape-container {
  width: 300px;
  height: 460px;

  -webkit-transition: -webkit-transform 0.5s;
  -webkit-transform-origin: 0 0;

  -moz-transition: -moz-transform 0.5s;
  -moz-transform-origin: 0 0;
}

.shape-container {
  display: table-cell;
  vertical-align: middle;
}

.shape {
  width: 238px;
  height: 138px;
  margin: 0 auto;
  position: relative;
}

.shape-color {
  width: 230px;
  height: 130px;
  position: absolute;
  top: 4px;
  left: 4px;
  z-index: 1;
}

.shape-image {
  width: 238px;
  height: 138px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
}

.shape-0.fill-0 .shape-image { background-image: url(../images/diamond-fill.png); }
.shape-0.fill-1 .shape-image { background-image: url(../images/diamond-outline.png); }
.shape-0.fill-2 .shape-image { background-image: url(../images/diamond-stripe.png); }

.shape-1.fill-0 .shape-image { background-image: url(../images/oval-fill.png); }
.shape-1.fill-1 .shape-image { background-image: url(../images/oval-outline.png); }
.shape-1.fill-2 .shape-image { background-image: url(../images/oval-stripe.png); }

.shape-2.fill-0 .shape-image { background-image: url(../images/squiggle-fill.png); }
.shape-2.fill-1 .shape-image { background-image: url(../images/squiggle-outline.png); }
.shape-2.fill-2 .shape-image { background-image: url(../images/squiggle-stripe.png); }

.color-0 .shape-color { background-color: #2A25BB; }
.color-1 .shape-color { background-color: #FF2F69; }
.color-2 .shape-color { background-color: #33BB3E; }

#deal-button {
  position: absolute;
  right: 10px;
  top: 50%;
  height: 200px;
  margin-top: -100px;
  width: 100px;
}

#links {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 12px;
  margin: 0;
  padding: 0;
  text-align: right;
}

a {
  margin-bottom: 0.2em;
  display: block;
}
